{% extends "layout.html" %}
{% block content %}
<div class="content-card">
    <div class="title">    
        <img src="{{ url_for('static', filename='images/hali2.png') }}" alt="Description of Image" class="halipng1">
        <div class="title-text">
            <div class="title-h">  
                <h1>Tyrese</h1>
                <h1>Haliburton</h1>
                <h2>0</h2>
                <h4>6'5" 185 lbs</h2>
            </div>  
           
        </div>    
    </div>
    <div class="basestat">
        <span>
            <h1>23.6</h1>
            <h1>PTS/G</h1>
        </span>
        <span>
            <h1>4.1</h1>
            <h1>REB/G</h1>
        </span>
        <span class="crown">
            <i class="fas fa-crown"></i>
            <h1>12.6</h1>
            <h1>AST/G</h1>
        </span>
        <span>
            <h1>1.1</h1>
            <h1>STL/G</h1>
        </span>
        <span>
            <h1>0.6</h1>
            <h1>BLK/G</h1>
        </span>
        <span>
            <h1>49.6</h1>
            <h1>FG%</h1>
        </span>
        <span>
            <h1>40%</h1>
            <h1>3P%</h1>
        </span>
    </div> 
    <div class="assistbox">
        <div id="plot-container">
            {{ graph_html|safe }}
        </div>
    </div>
    <div class="assistbox">
        <div id="plot-container">
            {{ graph_html2|safe }}
        </div>
    </div>
    <div class="assistbox">
        <div id="plot-container">
            {{ graph_html3|safe }}
        </div>
    </div>
    <div class="assistbox">
        <div id="plot-container">
            {{ graph_html4|safe }}
        </div>
    </div>

</div>
{% endblock %}
