{% extends "layout.html" %}
{% block content %}
<div class="content-card">
        <section class="assistbox">
            <div id="plot-container">
                {{ graph_html|safe }}
            </div>
        </section>
        <section class="assistbox">
            <div id="plot-container">
                {{ graph_html2|safe }}
            </div>
        </section>
        <section class="assistbox">
            <div id="plot-container">
                {{ graph_html3|safe }}
            </div>
        </section>
        <section class="assistbox">
            <div id="plot-container">
                {{ graph_html4|safe }}
            </div>
        </section>   
</div>
{% endblock %}
