@font-face {
    font-family: 'YourCustomFont';
    src: url('../fonts/NBAPacers.ttf') format('truetype');
}

/* General page styles */
body {
    font-family: 'YourCustomFont', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: black;
    /* overflow: hidden; */
    position: relative;
    background-color:black;
    background-image:
    radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 10px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 10px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 10px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 10px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}


/* Navigation bar styles */
nav {
    /* background-color: black; */
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;  /* Centers the navigation items */
}

nav ul li {
    display: inline;
}


nav a {
    color: white;
    padding: 15.4px 22px; /* Increased by 10% */
    text-decoration: none;
    display: inline-block;
    font-size: 2em; /* Increased by 10% */
    font-family: 'Cairo', sans-serif; /* Using Cairo font */
}

nav a:hover {
    text-decoration: underline;
    text-decoration-color: grey;
}
 
/* Content styling to push down below fixed nav */
.content {
    margin-top: 10%;  /* Adjust as needed based on nav height */
    margin-left: 20%;
    margin-right: 20%;

}
.content *{
    /* border-style: solid;
    border-color: white; */
}
.content-card{
    display:flex;
    flex-direction: column;
  }
.title{
    display:inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: stretch;
    color:#FDBB30;
    background: lighten(brown, 5%);
    text-shadow: 6px -3px 1px #002D62, 
                 9px 5px 1px rgba(190, 192, 194,.30);
}

.title img{
    padding-left: 5%;
}
.title-text{
    width:50%;
    font-size: 1.5em;

}
.title-text h1,h2,h4{
    margin:auto;
    text-align: end;
    align-self: flex-start;
}

@keyframes flash-shadow {
    0%, 100% {
        filter: drop-shadow(0 0 10px rgba(253, 187, 48, 0.75)); /* Shadow more visible */
    }
    50% {
        filter: drop-shadow(0 0 10px rgba(253, 187, 48, 0)); /* Shadow invisible */
    }
}
  
.halipng1{
    width: 25%;        /* Example: set width to 100% of its container */
    height: auto;       /* Adjust height automatically */
    margin: 0 0;     /* Center the image */
    animation: flash-shadow 2s infinite;
}

.intro{
    font-size: smaller;
    font-family: "Ubuntu Mono", monospace;
    font-weight: 400;
    font-style: normal;
    color: #f9f9f9;
    margin-top:6em;
}


.basestat {
    margin-top:5%;
    margin-bottom:5%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* line-height: 0.1em; */
}


/* crown effect */
.crown {
    color: gold;
    font-size: 1em; /* Adjust size as needed */
    /* text-align: center;
    position: relative; */
    text-shadow: 0 0 10px gold, 0 0 20px gold; /* Glowing effect */
    /* align-self: flex-end; */
}

/* crown effect
.basestat span i{
    align-self: center;
} */

#plot-container {
    /* width: 60%; */
    /* margin: auto;
    padding: 20px; */
}
 .assistbox{
    font-family: "Ubuntu Mono", monospace;
    font-size: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }

 .assistbox div{
    flex: 1 1 0%
 }